<!DOCTYPE html>
<html>
  <head>
    <title>MercadoLiebre</title>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
  </head>
  <body>
    <header>
      <img src="/img/logo-mercado-liebre.svg" width="300"/>
      <p>Lugar para poner barra de búsqueda</p>
      <p>Comprá en cuotas y sin tarjeta de crédito</p>
      <nav>
        <ul>
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
          <li><a href="">Crear tu cuenta</a></li>
          <li><a href="">Ingresar</a></li>
          <li><a href="">Mis compras</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h3>Basado en tu ultima visita</h3>
        <article>
          <img src="/img/img-cafetera-moulinex.jpg" width="360" alt="cafetera moulinex" />
          <br />
          <p>$6.770</p>
          <p>40% off</p>
          <strong>Cafetera Moulinex</strong>
        </article>
        <article></article>
        <article></article>
        <article></article>
      </section>
    </main>
    <footer>
    </footer>
  </body>
</html>